.home {
    display: flex;
    flex-direction: column;
    justify-content: start; 
    align-items: center;
    background-color: rgb(22,23,29);
    height: 100vh;
    padding: 10px;
    gap: 10px;
}


.input {
    display: flex;
    border: 5px solid rgb(41,42,50);
    border-radius: 15px;
    justify-content: start;
    align-items: center;
    width: 50%;
    margin-top: 50px;
}

.input p {
    margin: 10px;
    border-radius: 10px;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(60,213,249);
}

.input input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    background-color: rgb(22,23,29);
    color: white;
    font-size: 20px;
}

.list-item{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width:calc(50% + 10px);
    gap : 5px;
    overflow-y: auto;
    padding-right: 10px;

}


/* .list-item::-webkit-scrollbar {
    display: none;
}

.list-item {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
} */

/* Styling scrollbar for Chrome, Safari and Opera */
.list-item::-webkit-scrollbar {
    width: 5px;
}

.list-item::-webkit-scrollbar-track {
    background: rgb(22,23,29);
}

.list-item::-webkit-scrollbar-thumb {
    background: #575656;
    border-radius: 10px;
}

.list-item::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Styling scrollbar for IE, Edge and Firefox is not fully supported */