.summary-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
    gap: 10px;
}

.summary-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(60,213,249);
    padding: 10px;
    border-radius: 10px;
    width: 150px;
}

.summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary .message{
    color: white;
    font-size: 30px;
    margin-top: 60px;
}